*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navigation li{
    font-size: 1.125rem;
    color: azure;
}


.logo{
    width: 15%;
    padding: 1.2rem;
    display: flex;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: black;
}


.logo p{
    font-size: 2rem;
    padding: 2rem;
}



.navigation li {
    list-style-type: none;
    padding: 1rem;
    font-size: 1.5rem;
   
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;
}

.navigation {
    text-align: right;
    display: flex;
    padding-left: 3rem;
    padding-right: 6rem;
    }

.navigation li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigation li a:hover{
color: aquamarine;
}


.bg_img img{
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: .5;
    z-index: -1;
} 

.body_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}


.body_content h2{
font-size: 5rem;
}


.body_content h3{
font-size: 3rem;
}

.sun_sign a{
text-decoration: none;
color: rgb(255, 255, 255);
padding: 2rem 0rem 10rem 0rem;
display: inline-block;
width: 12rem;
font-size: 1.5rem;
text-align: center;
border-radius: 0.5rem;
font-weight: bold   ;
}

 .sun_sign{
    border-radius: 1rem;
 }

.centre{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.hsign{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    flex-wrap: wrap;
}


.body{
    background-color: rgb(230, 230, 50);
}

.navbtn_cen{
    display: flex;
    padding: 2rem 0  1rem 0;
}


.btm_navbar{
    
    display: block;
    margin: 0 auto;
    width: 90%;
}


.navbtn_cen li a{
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 1rem;
}


.navbtn_cen li a:hover{
   color: rgb(75, 136, 136);
}

.navbtn_cen li{
    list-style-type: none;
}


.social_links li{
list-style-type: none;
}

.social_links{
    display: flex;
    align-items: center;
}


.social_links li a{
   padding-right: 2rem;
   cursor: pointer;
   text-decoration: none;
}

.footer{
    padding-bottom: 3rem;
  }

.back{
    font-size: 1.25rem;
    padding: 1rem 0 1rem 2rem;
    background-color: rgb(123, 202, 58);
    border-radius: 50px;
    font-weight: 900;   
    transition: background-color 1s;
}

.back:hover{
background-color: rgb(134, 101, 223);
}

.back a{
    color: aliceblue;
}


.aries{
    background: url(./images/aries.jpg) center center ;
}


.taurus{
    background: url(./images/taurus.jpg) center center;
}

.gemini{
    background: url(./images/gemini.jpg) center center;
}


.cancer{
    background: url(./images/cancer.jpg) center center;
}

.leo{
    background: url(./images/leo.jpg) center center;
}

.virgo{
    background: url(./images/virgo.jpg) center center;
}


.libra{
    background: url(./images/libra.jpg) center center;
}



.scorpio{
    background: url(./images/scorpio.jpg) center center;
}

.sagittarius{
    background: url(./images/sagittarius.jpg) center center;
}

.capricorn{
    background: url(./images/capricorn.jpg) center center;
}

.aquarius{
    background: url(./images/aquarius.jpg) center center;
}

.pisces{
    background: url(./images/PISCES.jpg) center center;
}